{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,

  "importOrder": ["^\\$lib/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
